<!-- edit timeline  -->
<!-- <button class="btn btn-warning" ng-click="showEdit()">Edit Tasks</button> -->



<div class="container">
<div class="row text-center">
      <button class="btn btn-warning btn-lg" ng-click="showNew()">
            <span class="glyphicon glyphicon-plus"></span>
      </button>
      <!-- <div ng-show="timelineValues.index > 0"> -->
            <button ng-show="timelineValues.index > 0" class="btn btn-warning btn-lg" ng-click="editItem()">
                  <span class="glyphicon glyphicon-pencil"></span>
            </button>

            <button ng-show="timelineValues.index > 0" class="btn btn-danger btn-lg" ng-click="deleteItem()">
                  <span class="glyphicon glyphicon-remove"></span>
            </button>
      <!-- </div> -->
</div>

 <pipp-timeline-j-s source="data"
                   height="600"
                   width="90%"
                   start-zoom-adjust="0"
                   start-at-end="false"
                   start-at-slide="0"
                   hash-bookmark="false"
                   font="Philosopher"
                   lang="en"
                   state="timelineValues"
                   debug="false"></pipp-timeline-j-s>


</div>