<div class="home">



  <div id="header-carousel" class="carousel slide" data-ride="carousel" data-interval="5000">

    <h1 class="home-page"><span>We Planner is a simple tool that syncs couples leading up to their big day.</span></h1><br />


    <div class="carousel-inner text-center" role="listbox">
      <div class="item active">
        <img class="home" src="/images/wedding_2.jpg">
      </div>
      <div class="item">
        <img class="home" src="/images/wedding_3.jpg">
      </div>
      <div class="item">
        <img class="home" src="/images/wedding_4.jpg">
      </div>
      <div class="item">
        <img class="home" src="/images/wedding_5.jpg">
      </div>
      <div class="item">
        <img class="home" src="/images/wedding_1.jpg">
      </div>
    </div>


  </div>



</div>


<!--   <div class="video">
<video autoplay loop loop="loop" preload="auto">
  <source src="images/love.mov">
</video>
  </div> -->