<div>
<alerts></alerts>
<p>This is where the timeline goes when someone is logged in</p>

<div>
<!-- button with ng-click that calls the makeTimeline() function -->

<button class="btn btn-primary" ng-click="makeTimeline()">Make Timeline</button>

 <pipp-timeline-j-s source="data"
                   height="600"
                   width="90%"
                   start-zoom-adjust="0"
                   start-at-end="false"
                   start-at-slide="0"
                   hash-bookmark="false"
                   font="Rancho-Gudea"
                   lang="en"
                   state="timelineValues"
                   debug="false"></pipp-timeline-j-s>
</div>