<h1>I'm a home page</h1>

<alerts></alerts>

<p> I'm a beautiful filler front page with stock video and amazing graphics </p>

<p> My color scheme is blue and white </p>

<div class="page-header">
<pipp-timeline-j-s source="data"
                   height="600"
                   width="90%"
                   start-zoom-adjust="0"
                   start-at-end="false"
                   start-at-slide="0"
                   hash-bookmark="false"
                   font="Rancho-Gudea"
                   lang="en"
                   state="timelineValues"
                   debug="false"></pipp-timeline-j-s>
</div>