/*#pipp-timeline {
  width: 1140px;
  height: 600px;
}*/

.btn {
  border-color: #19B5BC;
  border-width: 1px;
  background: transparent;
  color: #19B5BC;
}

.btn:hover {
  background: transparent;
  border-width: 1.2px;
  color: #19B5BC;
  border-color: #19B5BC;
}

.btn:focus {
  background: transparent;
}

.dropdown-toggle {
  position: absolute;
}

h1.logo {
  font-family: 'Montserrat', sans-serif;
  color: #19B5BC;
  font-size: 70px;
  font-weight: 100px;
  display: inline;
  position: absolute;
}

h2 {
  font-family: 'Cardo', serif;
}

h3 {
  font-family: 'Cardo', serif;
}

h4 {
  font-family: 'Cardo', serif;
}

h5 {
  font-family: 'Cardo', serif;
}

.input-group-addon {
  border-style: none;
  border: none;
  background: transparent;
  font-family: 'Cardo', serif;
}


pre {
  border-style: none;
  border: none;
  background: transparent;
  font-family: 'Cardo', serif;
}

a {
  padding-bottom: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}



/*PAGE HEADER AND NAVBAR*/

.navbar {
  border-top: none;
  background: transparent;
  padding-bottom: 0px;
  padding-top: 0px;
}

.auth-btn {
  position: relative;
  margin-top: 30px;
}

.navbar-right {
  margin-top: 40px;
}
.navbar-default {
  border-bottom: 0px;
}

.page-header {
  border-bottom: none;
  display: inline;
  padding-bottom: 0px;
  padding-top: 0px;
}

/*HOME PAGE*/
#overlay-text {
  font-family: 'Cardo', serif;
  font-size: 30px;
  font-weight: 700;
  color: black;
  padding-bottom: 100px;
}

.overlay {
  color:#fff;
  position:absolute;
  z-index:12;
  top:13%;
  left:0;
  width:100%;
  text-align:center;
}

#header-carousel {
  width: 100%;
  height: 100%;
}

.carousel-control.left, .carousel-control.right {
    background-image: none;
}

.home {
  width: 100%;
}

/*#bg {
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}
#bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}
*/

/*div {
  border: 2px solid #f0f;
}*/

/*.vco-slider {
  height: 100px !important;
}*/

.vco-timeline, .vco-storyjs, .vco-notouch, .vco-skinny, .vco-feature{
        height: 300px;
}

#pipp-timeline {
  margin-top: -50px;
  z-index: -999;
}


/*TIMELINE STYLING*/
/*timenav-line {
  color:#19B5BC;
}

timenav-background {
  color: ???;
}*/
/*h2.start (headline)

div.icon (arrows for carousel)

div.flag-content (flags)

h3 (inside flags)

for each task:
h2.date
h3
p*/